.privacy{
    background-color: rgb(237, 200, 242);
    position: absolute;
    width:70%;
    height:150%;
    margin-left: 13%;
    margin-top: 5%;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 23px;
    justify-content: center;
    font-weight:lighter;
}
.privacyhead{
    margin-left: 2%;
    font-size: 40px;
}