h1 {
    text-align: center;
    color:rgb(56, 54, 54);
    font-size: 26px;
    margin-top: 8px;
    padding-bottom: 8px;
    font-family:"Comic Sans MS";
    letter-spacing: 1px;
    }
    
    
    
    .register-container {
      position: relative;
      border: 1px solid #ccc;
      padding: 20px;
      width: 350px;
      top: 8%;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      background-color: rgba(192, 183, 183, 0.401); 
      margin-top: 10%;
      margin-bottom: 5%;
      backdrop-filter: blur(200px); 
  }
   
    
    form {
      display: flex;
      flex-direction: column;
    }
    
    label {
      margin-bottom: 8px;
      font-weight: bold;
    }
    
    .input-group {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    
    .icon {
      position: absolute;
      left: 8px;
      font-size: 18px;
      color:rgb(56, 54, 54);
      margin-bottom: 3px;
      
    }
    
    input {
      margin-bottom: 1px;
      padding: 10px;
      border: 1px solid #888484;
      border-radius: 5px;
      transition: border-color 0.3s ease-in-out;
      margin-left: 70px; 
      width: 60%;
    }
    
    input:focus {
      border-color: #f5f7f8;
    }
    
    button {
      background-color: rgb(56, 54, 54);
      color: rgb(252, 252, 252);
      padding: 12px;
      cursor: pointer;
      border: black;
      border-radius: 5px;
      font-size: 16px;
      width: 50%;
      margin-left: 24%;
      font-family:"Comic Sans MS";
      margin-top: 5%;;
      margin-bottom: 5%;;
     
    }
    
    button:hover {
      background-color: #1f1f1f;
    }
    
    .error-message {
      color: #ff1100;
      margin-top: 10px;
    }
    
    body {
        background: linear-gradient(rgb(198, 147, 232), rgb(178, 115, 230), rgb(176, 114, 197),rgb(155, 67, 177),rgb(141, 38, 185),rgb(51, 3, 67));
  
      /* background-image: url(https://images.pexels.com/photos/163036/mario-luigi-yoschi-figures-163036.jpeg); */
      margin: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center center;
      user-select: none;
    }
    .icon {
      position: absolute;
      left: 40px;
      font-size: 18px;
      color:rgb(56, 54, 54);
      
    }
    
  
    
  select {
      margin-bottom: 1px;
      padding: 10px;
      border: 1px solid #fefefe;
      border-radius: 5px;
      background-color: #fff; 
      color: #000; /* Text color */
      transition: border-color 0.3s ease-in-out;
      margin-left: 70px; 
      width: 66%;
  }
  
  
    
    
    select {
      appearance: none;
      background-image: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z" /></svg>');
      background-repeat: no-repeat;
      background-position: right 10px center;
      border: 1px solid #888484;
    }
    
   
    select:hover {
      border-color: #f5f7f8;
    }
  
  @media screen and (max-width: 600px) {
      .login-container {
        width: 80%;
      }
    
      button {
        width: 60%;
        margin-left: 20%;
      }
    
      input {
        margin-left: 0;
      }
    }
    
    